* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #333;
    font: normal .8rem monospace;
}

select, input {
    background: #FFF;
    font-size: .9rem;
    padding: .5rem;
    width: 100%;
}

canvas { display: block; }


/* BASE CLASSES ================================ */

.hidden { display: none; }


/* BASE COMPONENTS ================================ */

.Canvas,
.MouseTrack,
.CursorCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.MouseTrack {
    cursor: pointer;
    z-index: 12;
}

.CursorCanvas { z-index: 11; }
.Canvas { z-index: 10; }


/* FIELD WIDGETS ================================ */

.Field {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
    justify-content: start;
}

.Field .FieldLabel {
    align-items: center;
    display: grid;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: right;
    text-overflow: ellipsis;
}

.Field .FieldValue:hover {
    opacity: .9
}

.Field output.FieldValue {
    align-items: center;
    background-color: #222;
    color: #AAA;
    display: flex;
    padding: .5rem;
}


/* COLOR FIELD ============================== */

.Field.color .FieldValue { position: relative; }
.Field.color .FieldValue input { padding-left: 35px; }
.Field.color .FieldValue .ColorView {
    outline: 1px solid #CCC;
    background-color: red;
    position: absolute;
    height: 22px;
    left: .4rem;
    top: .4rem;
    width: 22px;
    z-index: 1;
}

/* POINT FIELD ============================== */

.Field.point .FieldValue,
.Field.point .FieldValue .coordinate,
.Field.point .FieldValue input {
    display: flex;
}
.Field.point .FieldValue .coordinate span {
    align-items: center;
    background-color: #CCC;
    color: #666;
    display: flex;
    font-weight: bold;
    padding: 0 .5rem;
}

.Field.point .FieldValue .coordinate:last-child {
    margin-left: .5rem;
}


/* BOOLEAN FIELD ============================== */

.Field.boolean .FieldValue button {
    color: #FFF;
    width: 100%;
    cursor: pointer;
    display: block;
    padding: .5rem 1rem;
    justify-content: center;
    text-align: center;
}
.Field.boolean .FieldValue input { display: none }
.Field.boolean.true .FieldValue button {
    background-color: rgb(6, 94, 6);
}
.Field.boolean.false .FieldValue button {
    background-color: rgb(100, 15, 15);
}


/* BUTTONS ======================================= */

.Button {
    background: rgb(0, 149, 255);
    color: #FFF;
    font-weight: bold;
    padding: .5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.Button:active {
    background: rgb(133, 156, 141);
}


/* APPS ======================================= */
.App {
    color: #333;
    background: #111;
    display: grid;
    grid-template-rows: min-content auto;
    height: 100vh;
}

.AppHeader {
    display: grid;
    grid-template-columns: min-content auto;
    padding: .5rem;
}

.AppTitle {
    color: #FFF;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
}

.AppHeaderMenu {
    color: #FFF;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto;
    grid-auto-flow: column;
    justify-content: end;
}