/* MAP COMPONENT ======================================= */

.UITileMap {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 1fr 20%;
}

.UITileMap .Form {
    display: grid;
    gap: 1rem;
    padding: .5rem;
}

.UITileMap .Form.Map  {
    background: #CCC;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column: span 2;
}


/* SIDEBAR ==================================================== */
.UITileMap .UIMapSidebar {
    background: #111;
    color: #FFF;
    padding: .4rem;
}


.UITileMap .UIMapSidebar .Text {
    border: 1px solid #555;
    margin-bottom: .5rem;
    padding: .5rem;
}

.UITileMap .UIMapSidebar .Form {
    border: 1px solid #555;
    margin-bottom: .5rem;
}

.UITileMap .UIMapSidebar input {
    color: #FFF;
    background-color: #555;
}

.UITileMap .UIMapSidebar .Field.point .coordinate span {
    color: #AAA;
    background-color: #373737;
}


/* SCENE ==================================================== */
.UITileMap .UITileMapScene {
    background-color: #FFF;
    background-image: linear-gradient(45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(-45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #E8E8E8 75%),
        linear-gradient(-45deg, transparent 75%, #E8E8E8 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
}


.UITileMap .UITileMapScene .MouseTrack {
    box-shadow: inset 0 0 .5rem #000;
}

