/* MAP COMPONENT ======================================= */

.UITileMap {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: auto 25%;
}

.UITileMap .UITileMapForm {
    background: #BBB;
    grid-auto-flow: column;
    grid-column: span 2;
    display: grid;
    padding: .5rem;
}

.UITileMap .UITileMapForm .Form {
    display: flex;
    gap: 1rem;
    align-items: stretch;
}

/* SCENE ==================================================== */
.UITileMap .UITileMapScene {
    display: grid;
    grid-template-rows: 40px auto;
    overflow: hidden;
}

.UITileMap .UITileMapScene .UITileMapSceneDashboard {
    background-color: #333;
    color: #FFF;
    display: flex;
    align-items: center;
    padding: 0 .5rem;
}

.UITileMap .UITileMapScene .UITileMapSceneContent {
    background-color: #FFF;
    background-image: linear-gradient(45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(-45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #E8E8E8 75%),
        linear-gradient(-45deg, transparent 75%, #E8E8E8 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
}


.UITileMap .UITileMapScene .MouseTrack {
    box-shadow: inset 0 0 .5rem #000;
}


/* SIDEBAR ==================================================== */
.UITileMap .UITileMapSidebar {
    background: #111;
    color: #FFF;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.UITileMap .UITileMapSidebar .Form {
    display: grid;
    gap: 1rem;
    border-top: 1px solid #444;
    padding-top: 1rem;

}
.UITileMap .UITileMapSidebar .Form:first-child {
    border: none;
    padding: 0;
}

.UITileMap .UITileMapSidebar input {
    color: #FFF;
    background-color: #555;
}

.UITileMap .UITileMapSidebar .Field.point .coordinate span {
    color: #AAA;
    background-color: #373737;
}