body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background: #333;
    color: white;
    height: 1.8em;
    margin: 0;
    line-height: 1.8em;
    font-size: 1.8em;
    padding: 0 20px;
}

#main-menu {
    display: block;
    background: #DDD;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
    border-bottom: 1px solid #AAA;
}
#main-menu select,
#main-menu input,
#main-menu button {
    border: 1px solid #CCC;
    background: #FFF;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

#main-menu #tilesizeInput {
    width: 50px;
    padding-right: 0;
}

#main-menu #roughnessInput {
    width: 50px;
    padding-right: 0;
}

#main-menu label {
    font-size: 1.2em;
    height: 30px;
    line-height: 30px;
}

#main-menu button {
    background: rgb(13, 77, 33);
    color: #FFF;
    font-weight: bold;
}
#main-menu button:active {
    background: rgb(133, 156, 141);
}

main { padding: 20px; }

#view { position: relative; }

canvas {
    display: none;
    position: absolute;
}

#worldCanvas {
    z-index: 1;
    display: block;
}
#temperatureCanvas { z-index: 2; }


#infoText {
    line-height: 30px;
    margin: 0;
    color: #333;
    font-size: 1em;
}