body {
    background: #FFF;
    color: #333;
    font: 14px inherit Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.5em 20px;
}

#main-menu {
    background: #DDD;
    border-bottom: 1px solid #AAA;
    display: block;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}
#main-menu label,
#main-menu select,
#main-menu input {
    font-size: 1em;
    height: 25px;
    line-height: 25px;
}

#main-menu select,
#main-menu input {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 0 5px;
}

#main-menu button {
    background: rgb(13, 77, 33);
    color: #FFF;
    border: 0;
    height: 25px;
    font-weight: bold;
}
#main-menu button:active {
    background: rgb(133, 156, 141);
}

#main-menu #tilesizeInput,
#main-menu #roughnessInput {
    width: 40px;
    padding-right: 0;
}

main { padding: 10px 20px 30px; }

#infoText {
    line-height: 30px;
    margin: 0;
    font-size: 1em;
}
