
/* Regions ============================== */

.RegionsApp {
    background-color: #FFF;
    display: grid;
    grid-template-rows: 50px auto;
}

.RegionsApp .RegionsConfig {
    background: #CCC;
    padding: 5px;
}

.RegionsApp .RegionsView {
    background: black;
    display: grid;
    grid-template-columns: 15% auto;
}

.RegionsApp .RegionsView .ViewMenu {
    background: #111;
    color: #FFF;
    padding: 5px;
}

.RegionsApp .RegionsView .Form.ViewMenu {
    flex-direction: column;
}

.RegionsApp .RegionsView .ViewMenu .Field {
    padding: 5px 0;
}
.RegionsApp .RegionsView .ViewMenu .Value {
    color: #AAA;
}

.RegionsApp .RegionsView .Screen {
    position: relative;
}