
.HeightMapApp {
    display: grid;
    grid-template-rows: 50px auto;
}

.HeightMapApp .ConfigMenu {
    display: flex;
    background: #CCC;
    padding: .5rem;
}

.HeightMapApp .HeightMapView {
    background: black;
    display: grid;
    grid-template-columns: 20% auto;
}

.HeightMapApp .HeightMapView .Menu {
    background: #111;
    color: #FFF;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
}

.HeightMapApp .HeightMapView .Menu .Field {
    padding: .5rem 0;
}

.HeightMapApp .HeightMapView .Menu .FieldValue {
    width: 100%;
}

.HeightMapApp .HeightMapView .Menu input,
.HeightMapApp .HeightMapView .Menu select {
    color: #BBB;
}

.HeightMapApp .HeightMapView .Menu input,
.HeightMapApp .HeightMapView .Menu select {
    background-color: #282828;
}

.HeightMapApp .HeightMapView .Menu .Button {
    padding: .5rem;
    margin-bottom: 1em;
}

.HeightMapApp .HeightMapView .View {
    position: relative;
}
