* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #333;
    font: normal 1rem monospace;
}

select, input {
    background: #FFF;
    font-size: 1em;
    padding: .5rem;
}

canvas { display: block; }


/* BASE CLASSES ================================ */

.hidden { display: none; }


/* BASE COMPONENTS ================================ */

.GridDisplay {
    position: relative;
}

.Canvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.MouseTracker {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}


/* FIELD WIDGETS ================================ */

.Field {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
    justify-content: start;
}

.Field .FieldLabel {
    align-items: center;
    display: grid;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: right;
    text-overflow: ellipsis;
}

.Field .FieldValue {
    padding: .5rem 0;
}

.Field .FieldValue input,
.Field .FieldValue select {
    width: 100%;
}


/* CHECKBOX FIELD ============================== */

.Field.checkbox .FieldValue {
    align-items: center;
    background-color: rgb(100, 15, 15);
    color: #FFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
.Field.checkbox.true .FieldValue {
    background-color: rgb(6, 94, 6);
}
.Field.checkbox.false .FieldValue:after { content: 'No'; }
.Field.checkbox.true .FieldValue:after { content: 'Yes'; }



/* BUTTONS ======================================= */

.Button {
    background: rgb(6, 94, 6);
    color: #FFF;
    font-weight: bold;
    margin: 0 .1em;
    padding: .5rem 1rem;
    text-transform: uppercase;
}

.Button:active {
    background: rgb(133, 156, 141);
}

