
.App {
    color: #333;
    background: #111;
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}

.AppHeader {
    display: grid;
    grid-template-columns: min-content auto;
    padding: .5rem;
}

.AppTitle {
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.MainMenu {
    color: #FFF;
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
}



/* WIDGETS ======================================= */

.MapApp {
    display: grid;
    grid-template-rows: min-content auto;
}

.MapApp .MapAppMenu {
    background: #AAA;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
    padding: .5rem;
}


.MapApp .MapAppView {
    background: black;
    display: grid;
    grid-template-columns: min-content auto;
}

.MapApp .MapAppView .Menu {
    background: #111;
    color: #FFF;
    display: grid;
    gap: .5rem;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    padding: .5rem;
}
