* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #333;
    font: normal 1rem monospace;
}

select, input {
    background: #FFF;
    font-size: 1em;
    padding: .5rem;
    width: 100%;
}

canvas { display: block; }


/* BASE CLASSES ================================ */

.hidden { display: none; }


/* BASE COMPONENTS ================================ */

.MapView {
    background: #DDD;
    position: relative;
}

.Canvas,
.BackgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.Canvas { z-index: 1 }
.BackgroundCanvas { z-index: 0 }

.MouseTrack {
    box-shadow: inset 0 0 5px #000;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}


/* FIELD WIDGETS ================================ */

.Field {
    display: grid;
    gap: .5rem;
    grid-template-columns: auto 1fr;
    justify-content: start;
}

.Field .FieldLabel {
    align-items: center;
    display: grid;
    font-weight: bold;
    overflow-wrap: break-word;
    text-align: right;
    text-overflow: ellipsis;
}

.Field .FieldValue:hover {
    opacity: .9
}

.Field output.FieldValue {
    align-items: center;
    background-color: #222;
    color: #AAA;
    display: flex;
    padding: .5rem;
}


/* COLOR FIELD ============================== */

.Field.color .FieldValue { position: relative; }
.Field.color .FieldValue input { padding-left: 35px; }
.Field.color .FieldValue .ColorView {
    background-color: red;
    position: absolute;
    height: 22px;
    left: .4rem;
    top: .4rem;
    width: 22px;
    z-index: 1;
}


/* BOOLEAN FIELD ============================== */

.Field.boolean .FieldValue button {
    color: #FFF;
    width: 100%;
    cursor: pointer;
    display: block;
    padding: .5rem 0;
    justify-content: center;
    text-align: center;
}
.Field.boolean .FieldValue input { display: none }
.Field.boolean.true .FieldValue button {
    background-color: rgb(6, 94, 6);
}
.Field.boolean.false .FieldValue button {
    background-color: rgb(100, 15, 15);
}


/* BUTTONS ======================================= */

.Button {
    background: rgb(6, 94, 6);
    color: #FFF;
    font-weight: bold;
    padding: .5rem 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.Button:active {
    background: rgb(133, 156, 141);
}

