
.App {
    color: #333;
    background: #111;
    display: grid;
    grid-template-rows: 50px auto;
    height: 100vh;
}

.AppHeader {
    display: grid;
    grid-template-columns: min-content auto;
    padding: .5rem;
}

.AppTitle {
    color: #FFF;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.MainMenu {
    color: #FFF;
    display: grid;
    grid-template-columns: auto;
    justify-content: end;
}



/* MAP COMPONENT ======================================= */

.MapApp {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 20% 1fr;
}

.MapApp .Form {
    padding: .5rem;
    gap: 1rem;
    display: grid;
}

.MapApp .Form.Map  {
    background: #CCC;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column: span 2;
}

.MapApp .Form.Diagram {
    background: #111;
    color: #FFF;
    gap: .5rem;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-row: 2;

}


/* OTHER ======================================= */