/* MAP COMPONENT ======================================= */

.MapUI {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 20% 1fr;
}

.MapUI .Form {
    padding: .5rem;
    gap: 1rem;
    display: grid;
}

.MapUI .Form.Map  {
    background: #CCC;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column: span 2;
}

.MapUI .Form.MapDiagram {
    background: #111;
    color: #FFF;
    gap: .5rem;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-row: 2;
}

.MapUI .MapSceneUI {
    background-color: #FFF;
    background-image: linear-gradient(45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(-45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #E8E8E8 75%),
        linear-gradient(-45deg, transparent 75%, #E8E8E8 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    display: grid;
    grid-template-rows: auto min-content;
}

.MapUI .MapViewCanvasUI {
    position: relative;
}

.MapUI .MapViewCanvasUI .MouseTrack {
    box-shadow: inset 0 0 .5rem #000;
}

.MapUI .MapViewForm {
    background-color: #333;
    color: #FFF;
    height: 3rem;
    grid-auto-flow: column;
}

.MapUI .MapViewForm input {
    background-color: #FFF;
    color: #000;
}

/* TEST COMPONENT ======================================= */

.TestUI {
    background: #EEE;
    display: block;
    padding: .5rem;
}
