/* MAP COMPONENT ======================================= */

.MapApp {
    display: grid;
    grid-template-rows: min-content auto;
    grid-template-columns: 20% 1fr;
}

.MapApp .Form {
    padding: .5rem;
    gap: 1rem;
    display: grid;
}

.MapApp .Form.Map  {
    background: #CCC;
    grid-auto-flow: column;
    grid-row: 1;
    grid-column: span 2;
}

.MapApp .Form.MapDiagram {
    background: #111;
    color: #FFF;
    gap: .5rem;
    grid-auto-flow: row;
    grid-auto-rows: min-content;
    grid-row: 2;
}

.MapApp .MapView {
    background-color: #FFF;
    background-image: linear-gradient(45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(-45deg, #E8E8E8 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #E8E8E8 75%),
        linear-gradient(-45deg, transparent 75%, #E8E8E8 75%);
    background-size: 20px 20px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
    position: relative;
    display: grid;
    grid-template-rows: auto 8rem;
}

.MapApp .MapViewCanvas {

}


.MapApp .MapViewForm {
    background-color: #FFF;
    position: relative;
}


/* TEST COMPONENT ======================================= */

.TestApp {
    background: #EEE;
    display: block;
    padding: .5rem;
}
