
/* World ============================== */

.WorldApp {
    display: grid;
    grid-template-rows: 50px auto;
}

.WorldApp .WorldMenu {
    display: flex;
    background: #CCC;
    padding: .5rem;
}

.WorldApp .WorldView {
    background: black;
    display: grid;
    grid-template-columns: 15% auto;
}

.WorldApp .WorldView .ViewMenu {
    background: #111;
    color: #FFF;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.WorldApp .WorldView .ViewMenu .Field {
    padding: .5rem 0;
}

.WorldApp .WorldView .ViewMenu .Label {
    padding-right: .5rem;
}

.WorldApp .WorldView .ViewMenu .FieldValue {
    color: #AAA;
}

.WorldApp .WorldView .Screen {
    position: relative;
}

.WorldApp .WorldView .Screen .tracker {
    color: #FFF;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}
