* {
    box-sizing: border-box;
    border: none;
    font: normal 1.05rem monospace;
    padding: 0;
    margin: 0;
}

body {
    background: #FFF;
    color: #333;
}

select, input {
    background: #FFF;
    border: 1px solid #CCC;
    display: block;
    font-size: 1em;
}

input {
    padding: 10px;
}

select {
    padding: 0 5px;
}

.Label {
    font-weight: bold;
}

button {
    background: none;
    cursor: pointer;
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: bold;
}

canvas { display: block; }


/* FIELDSETS ==================================== */

.Fieldset {
    display: flex;
    padding: 5px;
}

.Fieldset.Horizontal {
    flex-direction: row;
    height: 100%;
}
.Fieldset.Vertical {
    flex-direction: column;
}


/* FIELDS ======================================= */

.Button {
    display: flex;
    background: rgb(6, 94, 6);
}
.Button button {
    color: #FFF;
}

.Button:active {
    background: rgb(133, 156, 141);
}


.Vertical .Field {
    flex-direction: column;
}


.Horizontal .Label {
    display: flex;
    align-items: center;
    height: 100%;
}

.Horizontal .Field {
    display: grid;
    grid-template-columns: auto auto;
    height: 100%;
    grid-gap: 5px;
}

.Horizontal .Button {
    height: 100%;
}
