* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #333;
    font: normal 1rem monospace;
}

select, input {
    background: #FFF;
    display: block;
    font-size: 1em;
    padding: .5rem;
}

button {
    cursor: pointer;
}

canvas { display: block; }

.CanvasWrapper {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}


/* FIELD WIDGETS ================================ */

.Field {
    display: flex;
    flex-direction: row;
    padding-right: 1rem;
}

.Field .FieldLabel {
    align-items: center;
    display: flex;
    font-weight: bold;
    flex: 1 1 40%;
    padding-right: .5rem;
}

.Field .FieldValue {
    display: flex;
    width: 100%;
}


/* BUTTONS ======================================= */

.Button {
    background: rgb(6, 94, 6);
    color: #FFF;
    display: flex;
    font-weight: bold;
    padding: 0 1em;
    text-transform: uppercase;
}

.Button:active {
    background: rgb(133, 156, 141);
}
