* {
    border: none;
    padding: 0;
    margin: 0;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    background: #FFF;
    color: #333;
    font: normal 1.05rem monospace;
}

select, input {
    background: #FFF;
    border: 1px solid #CCC;
    display: block;
    font-size: 1em;
}

input {
    padding: 10px;
}

select {
    padding: 0 5px;
}

.Label {
    font-weight: bold;
}

button {
    background: none;
    cursor: pointer;
}

canvas { display: block; }

/*  */

.Grid {
    display: grid;
}

.Row, .Column {
    display: flex;
    flex: 1;
}

.Row {
    flex-direction: row;
}

.Column {
    flex-direction: column;
}

/* FIELDSETS ==================================== */

.Form {
    display: flex;
    flex: 1;
}


/* FIELDS ======================================= */

.Field {
    display: flex;
    flex-direction: row;
}

.Field .Label {
    display: flex;
    align-items: center;
    height: 100%;
}


.Form .Column .Field {
    flex-direction: column;
    width: 100%;
}

.Form .Row .Field {
    height: 100%;
}


.Form .Column .Field .Label + .Value {
    padding: 0 5px 0 10px;
}

.Form .Row .Field .Label {
    padding: 0 5px 0 10px;
}


/* BUTTONS ======================================= */

.Button {
    display: flex;
    background: rgb(6, 94, 6);
    padding: 0 1em;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
}

.Button:active {
    background: rgb(133, 156, 141);
}

.Form .Row .Button {
    height: 100%;
}
