
/* Nami ============================== */

.NamiApp {
    background: #111;
    color: #333;
    height: 100vh;
    display: grid;
    grid-template-rows: 50px auto;
}

.NamiHeader {
    display: grid;
    padding: 5px 10px;
    grid-template-columns: 100px auto;
}

.NamiTitle {
    color: #FFF;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: bold;
    font-size: 1.8em;
    text-transform: uppercase;
}

.NamiMenu {
    display: flex;
    color: #FFF;
    justify-content: flex-end;
}