body {
    background: #FFF;
    color: #333;
    font: 14px inherit Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    margin: 0;
    font-weight: bold;
    font-size: 1.8em;
    padding: 0.5em 20px;
}

#main-menu {
    background: #DDD;
    border-bottom: 1px solid #AAA;
    display: block;
    margin: 0;
    padding: 0 20px;
    height: 50px;
    line-height: 50px;
}
#main-menu label,
#main-menu select,
#main-menu input {
    font-size: 1em;
    height: 25px;
    line-height: 25px;
}

#main-menu select,
#main-menu input {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 0 5px;
}

#main-menu input {
    padding-right: 0;
}

#main-menu button {
    background: rgb(13, 77, 33);
    color: #FFF;
    border: 0;
    height: 25px;
    font-weight: bold;
}
#main-menu button:active {
    background: rgb(133, 156, 141);
}

main {
    padding: 10px;
    display: grid;
    grid-template-columns: 150px auto;
}

#infoText {
    line-height: 30px;
    margin: 0;
    font-size: 1em;
    padding-right: 10px;
}

#infoText p.title {
    line-height: 1.5;
    margin: 0 0 2px 0;
    font-weight: bold;
}

#infoText p.value {
    border-bottom: 1px solid #DDD;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    line-height: 1;
    font-size: .9em;
}

#seedInput {
    width: 120px;
}

#tilesizeInput {
    width: 30px;
}

#roughnessInput {
    width: 40px;
}
