body {
    background: #FFF;
    color: #333;
    font: 14px inherit Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: 50px 50px auto;
    height: 100vh;
}

header {
    background: #111;
    color: white;
    display: grid;
    font-weight: bold;
    grid-template-columns: 110px auto;
    margin: 0;
}

header #header-title {
    font-size: 1.8em;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
}

header #header-menu {
    border: 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: right;
    justify-content: end;
}

header #header-menu .header-menu-item {
    border-left: 1px solid #444;
    line-height: 50px;
    padding: 0 1em;
}

header #header-menu label[for="seedInput"] {
    margin-right: 0.5em;
    text-transform: uppercase;
}

header #header-menu #seedInput {
    width: 100px;
    height: 30px;
    line-height: 30px;
    padding: 0 .5em;
    border: 0;
}

header #header-menu #generateButton {
    background: rgb(9, 128, 9);
    color: #FFF;
    border: 0;
    font-size: 1em;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    text-transform: uppercase;
    font-weight: bold;
}

header #header-menu #generateButton:active {
    background: rgb(133, 156, 141);
}


#sub-menu {
    background: #DDD;
    border-bottom: 1px solid #AAA;
    display: block;
    margin: 0;
    padding: 0 20px;
    line-height: 50px;
}
#sub-menu label,
#sub-menu select,
#sub-menu input {
    font-size: 1em;
    height: 25px;
    line-height: 25px;
}

#sub-menu select,
#sub-menu input {
    border: 1px solid #CCC;
    background: #FFF;
    padding: 0 5px;
}

#sub-menu input {
    padding-right: 0;
}

#tilesizeInput {
    width: 30px;
}

#roughnessInput {
    width: 42px;
}


main {
    display: grid;
    grid-template-columns: 150px auto;
}

main #main-options {
    line-height: 30px;
    margin: 0;
    font-size: 1em;
    padding: 10px 0 0 10px;
}

main #main-options p.title {
    line-height: 1.5;
    margin: 0 0 2px 0;
    font-weight: bold;
}

main #main-options p.value {
    border-bottom: 1px solid #DDD;
    margin: 0 0 10px 0;
    padding-bottom: 5px;
    line-height: 1;
    font-size: .9em;
}

main #main-view {
    background: black;
    overflow: hidden;
    position: relative;
}

main #main-view #viewCanvas {
    position: absolute;
}
